# DSCI100 Group Project #

In [6]:
import pandas as pd
import numpy as np
import altair as alt
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

## Introduction ##

### (1) Background Information: ###

### (2) Data Description: ###

We're mainly looking at the *player.csv* file. There are 9 variable columns, "experience", "subscribe", "hashedEmail", "played_hours", "name", "gender", "age", "individualId", "organizationName". 

- experience: A string that describes how much experience a player has had with Minecraft, you can be an Amateur, Regular, Pro, Veteran
- subscribe: A boolean that describes whether the player is subscribed to the mail or not
- hashedEmail: The player's email hashed to conceal their email information
- played_hours: The total hours this player has spent playing on the server
- name: The given name of the player based on the options on the website when you first register
- gender: The gender of the player, either Male, Female, Prefer not to say, or Other
- age: The age of the player
- individualId: The id of the player, which is all NaN for now
- organizationName: The organization name of the player, which is all NaN for now

One clear issue we observed is the lack of data that was actually contributed by the player besides the hours spent on the game, which makes analysis all based on the total time spent by a player. 

### (1) Question: ###

#### Question 1: We would like to know which "kinds" of players are most likely to contribute a large amount of data so that we can target those players in our recruiting efforts. ####

Since we're looking at which kind of player is most likely to contribute to large amount of data. We need to look at the players experience, gender, age, subscribe, and compare it to the total hours spent on the game.

## Methods & Results: ##

describe the methods you used to perform your analysis from beginning to end that narrates the analysis code.
your report should include code which:
loads data 
wrangles and cleans the data to the format necessary for the planned analysis
performs a summary of the data set that is relevant for exploratory data analysis related to the planned analysis 
creates a visualization of the dataset that is relevant for exploratory data analysis related to the planned analysis
performs the data analysis
creates a visualization of the analysis 
note: all figures should have a figure number and a legend

### Step 1 ###
- Drop unneeded columns
- Drop outliers 

### Step 2 ###
- One hot encoding

### Step 3 ###
- Visualization

### Step 4 ###
- Modeling

### Step 5 ###
- Visualization of the model

In [7]:
#read the files
players = pd.read_csv("data/players.csv")
players

,experience,subscribe,hashedEmail,played_hours,name,gender,age,individualId,organizationName
0,Pro,True,f6daba428a5e19a3d47574858c13550499be23603422e6...,30.3,Morgan,Male,9,NaN,NaN
1,Veteran,True,f3c813577c458ba0dfef80996f8f32c93b6e8af1fa9397...,3.8,Christian,Male,17,NaN,NaN
2,Veteran,False,b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3...,0.0,Blake,Male,17,NaN,NaN
3,Amateur,True,23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4f...,0.7,Flora,Female,21,NaN,NaN
4,Regular,True,7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb...,0.1,Kylie,Male,21,NaN,NaN
...,...,...,...,...,...,...,...,...,...
191,Amateur,True,b6e9e593b9ec51c5e335457341c324c34a2239531e1890...,0.0,Bailey,Female,17,NaN,NaN
192,Veteran,False,71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778...,0.3,Pascal,Male,22,NaN,NaN
193,Amateur,False,d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db29...,0.0,Dylan,Prefer not to say,17,NaN,NaN
194,Amateur,False,f19e136ddde68f365afc860c725ccff54307dedd13968e...,2.3,Harlow,Male,17,NaN,NaN
195,Pro,True,d9473710057f7d42f36570f0be83817a4eea614029ff90...,0.2,Ahmed,Other,91,NaN,NaN

In [14]:
#Step 1
players_dropped = players.drop(["hashedEmail", "subscribe", "name", "individualId", "organizationName"], axis = 1)

#Step 2
players_one_hot_exp = players_dropped.pivot(columns="experience", values="experience")    
players_one_hot_gen = players_dropped.pivot(columns="gender", values="gender")  

#Step 3
players_one_hot_exp = players_one_hot_exp.fillna(0)
players_one_hot_gen = players_one_hot_gen.fillna(0)

#Step 4
players_one_hot_exp[players_one_hot_exp != 0] = 1
players_one_hot_gen[players_one_hot_gen != 0] = 1

#Step 5
players_wrangled = pd.concat([players_dropped.drop(["experience", "gender"], axis=1),players_one_hot_exp,players_one_hot_gen], axis=1)
players_wrangled

,played_hours,age,Amateur,Beginner,Pro,Regular,Veteran,Agender,Female,Male,Non-binary,Other,Prefer not to say,Two-Spirited
0,30.3,9,0,0,1,0,0,0,0,1,0,0,0,0
1,3.8,17,0,0,0,0,1,0,0,1,0,0,0,0
2,0.0,17,0,0,0,0,1,0,0,1,0,0,0,0
3,0.7,21,1,0,0,0,0,0,1,0,0,0,0,0
4,0.1,21,0,0,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191,0.0,17,1,0,0,0,0,0,1,0,0,0,0,0
192,0.3,22,0,0,0,0,1,0,0,1,0,0,0,0
193,0.0,17,1,0,0,0,0,0,0,0,0,0,1,0
194,2.3,17,1,0,0,0,0,0,0,1,0,0,0,0
195,0.2,91,0,0,1,0,0,0,0,0,0,1,0,0

## Discussion ##
summarize what you found
discuss whether this is what you expected to find?
discuss what impact could such findings have?
discuss what future questions could this lead to?